<template>
    <section>
        <canvas></canvas>
    </section>
</template>

<script>
    import { mapGetters } from  'vuex';

    export default {
        name: "Canvas",

        data: () => ({
            canvas: null,
            ctx: null,
        }),

        computed: {
            ...mapGetters(['config']),
        },

        mounted() {
            this.canvas = this.$el.querySelector('canvas');
            this.ctx = this.canvas.getContext('2d');
        },

        methods: {
            reset() {
                this.canvas.width = this.config.canvas.size;
                this.canvas.height = this.config.canvas.size;
                this.canvas.style.backgroundColor = this.config.canvas.color;
                this.clear();
            },

            clear() {
                this.ctx.clearRect(0, 0, this.config.canvas.size, this.config.canvas.size);
            },

            drawRect(x, y, width, height, color) {
                this.ctx.beginPath();
                this.ctx.fillStyle = color;
                this.ctx.rect(x, y, width, height);
                this.ctx.fill();
                this.ctx.closePath();
            },

            drawCircle(x, y, r, color) {
                this.ctx.beginPath();
                this.ctx.fillStyle = color;
                this.ctx.arc(x, y, r, 0, 2 * Math.PI);
                this.ctx.fill();
                this.ctx.closePath();
            },
        },
    }
</script>

<style scoped>
    section {
        font-size: 0;
        line-height: 1;
    }
    section > canvas {
        cursor: pointer;
    }
</style>