<template>
    <v-row v-show="activeComponent === 'Index'"
           class="align-center justify-center">
        <v-card width="100%"
                max-width="300px">
            <v-card-text>
                <form ref="form">
                    <v-text-field
                            label="Player name"
                            name="name"
                            type="text"
                            autocomplete="off"
                            required
                            v-model="name"
                            prepend-icon="person"
                            :counter="10"
                            :error-messages="nameErrors"
                            @input="$v.name.$touch()"
                            @blur="$v.name.$touch()"
                    ></v-text-field>
                    <v-text-field
                            label="Room name"
                            name="room"
                            type="text"
                            autocomplete="off"
                            required
                            v-model="room"
                            prepend-icon="meeting_room"
                            :counter="10"
                            :error-messages="roomErrors"
                            @input="$v.room.$touch()"
                            @blur="$v.room.$touch()"
                    ></v-text-field>
                </form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn type="submit"
                       @click.prevent="submit"
                       color="primary">Submit</v-btn>
            </v-card-actions>
        </v-card>
    </v-row>
</template>

<script>
    import { mapGetters } from  'vuex';
    import { validationMixin } from 'vuelidate';
    import { required, maxLength } from 'vuelidate/lib/validators';

    export default {
        name: "Index",

        mixins: [validationMixin],

        validations: {
            name: { required, maxLength: maxLength(10) },
            room: { required, maxLength: maxLength(10) },
        },

        data: () => ({
            name: '',
            room: '',
        }),

        computed: {
            ...mapGetters(['activeComponent', 'socket']),

            nameErrors () {
                const errors = [];
                if (!this.$v.name.$dirty) return errors;
                !this.$v.name.maxLength && errors.push('Name must be at most 10 characters long');
                !this.$v.name.required && errors.push('Name is required.');
                return errors;
            },

            roomErrors () {
                const errors = [];
                if (!this.$v.name.$dirty) return errors;
                !this.$v.name.maxLength && errors.push('Room must be at most 10 characters long');
                !this.$v.name.required && errors.push('Room is required.');
                return errors;
            },
        },

        methods: {
            submit () {
                this.$v.$touch();
                if (this.$v.$invalid) return;

                this.socket.emit('enter', {
                    'player_name': this.name,
                    'player_role': 'player',
                    'room_name': this.room,
                });
                this.clear();
            },

            clear () {
                this.$v.$reset();
                this.name = '';
                this.room = '';
            },
        },
    }
</script>
