<template>
    <v-row v-show="activeComponent === 'PlayerPosition'"
           class="justify-center">
        <Canvas ref="canvas" />
        <section class="app-sidebar">
            <v-btn type="button"
                   :disabled="selectedPosition === null"
                   @click.prevent="submit"
                   color="primary">Submit</v-btn>
        </section>
    </v-row>
</template>

<script>
    import { mapGetters, mapActions } from  'vuex';
    import Canvas from './Canvas';

    export default {
        name: "PlayerPosition",

        components: {Canvas},

        data: () => ({
            'selectedPosition': null,
            'hoveredPosition': null,
        }),

        computed: {
            ...mapGetters(['activeComponent', 'socket', 'room', 'player', 'bot']),

            isVisible () {
                return this.activeComponent === 'PlayerPosition';
            },

            positions() {
                //convert object to array and filter with status === false
                return this.room.positions ? Object.values(this.room.positions).filter(el => el.status === false) : null;
            },
        },

        watch: {
            activeComponent(newValue) {
                if (newValue === 'PlayerPosition') {
                    this.$nextTick(() => this.resetCanvas());
                }
            },

            positions(newValue) {
              if (this.selectedPosition) {
                let test = newValue.filter(data => data.id === this.selectedPosition);
                !test.length && this.reset();
              }

               this.update();
            }
        },

        mounted() {
            this.movement();
        },

        methods: {
            ...mapActions(['updatePlayer']),

            resetCanvas() {
                this.$refs['canvas'] && this.$refs['canvas'].reset();
            },

            drawRect(data, color) {
                this.$refs['canvas'] && this.$refs['canvas'].drawRect(data.x, data.y, data.width, data.height, color || data.color);
            },

            update() {
                this.resetCanvas();
                this.positions.forEach((el) => {
                    let color = null;
                    if (this.selectedPosition === el.id) color = 'orange';
                    if (this.hoveredPosition === el.id && this.hoveredPosition !== this.selectedPosition) color = 'green';
                    el.data && this.drawRect(el.data, color);
                });
            },

            submit() {
                if (Object.keys(this.bot).length) {
                    this.socket.emit('setPlayerPosition', {
                        'player_id': this.bot.id,
                        'position': this.selectedPosition,
                    });
                    this.updatePlayer({}); //remove temp bot data
								} else {
                    this.socket.emit('setPlayerPosition', {
                        'player_id': this.player.id,
                        'position': this.selectedPosition,
                    });
								}

                this.reset();
            },

            reset() {
                this.selectedPosition = null;
                this.hoveredPosition = null;
            },

            movement() {
                if (!this.$refs['canvas']) return;
                let canvas = this.$refs['canvas'].canvas;
                if (!canvas) return;

                let events = ['click', 'mousemove'];

                events.forEach(eventName => {
                  canvas.addEventListener(eventName, (e) => {
                    if (this.isVisible && this.positions) {
                      let x = e.pageX - canvas.offsetLeft;
                      let y = e.pageY - canvas.offsetTop;

                      this.hoveredPosition = null;

                      this.positions.forEach((el) => {
                        let collide = this.collide(
                          {"left": x, "right": x, "top": y, "bottom": y},
                          {"left": el.data.x, "right": el.data.x + el.data.width, "top": el.data.y, "bottom": el.data.y + el.data.height}
                        );

                        if (collide) {
                          if (eventName === 'click') {
                            this.selectedPosition = el.id;
                          }

                          if (eventName === 'mousemove') {
                            this.hoveredPosition = el.id;
                          }
                        }
                      });

                      this.update();
                    }
                  });
                });
            },

            collide(el, target) {
                let result = false;

                if (
                  el.left >= target.left
                  && el.right <= target.right
                  && el.top >= target.top
                  && el.bottom <= target.bottom
                ) {
                    result = true;
                }

                return result;
            }
        }
    }
</script>

<style scoped>
    section {
        padding: 5px;
    }
</style>