<template>
	<v-row v-show="isVisible"
				 class="justify-center">
		<Canvas ref="canvas" />
		<section class="app-sidebar">
			<v-row class="flex-wrap flex-column">
				<v-col>
					<p><strong>Player name:</strong> {{player.name}}</p>
					<p><strong>Room name:</strong> {{room.name}}</p>
					<v-data-table
							v-if="readyPlayersCount"
							:headers="dataTableHeaders"
							:items="dataTableItems"
							hide-default-footer
							class="elevation-1"
					>
						<template v-slot:item.action="{item}">
							<v-btn v-if="item.role === 'bot'"
										 type="button"
										 :disabled="room.state !== 'idle'"
										 @click.prevent="removeBot(item.name)"
										 color="error">
								<v-icon>delete</v-icon>
							</v-btn>
						</template>
					</v-data-table>
					<div class="text-center mt-5">
						<v-btn type="button"
									 :disabled="room.state !== 'idle'"
									 @click.prevent="changePlayerPosition"
									 color="accent"
									 class="mr-5">
							Change Position
						</v-btn>
						<v-btn type="button"
									 @click.prevent="addBot"
									 color="accent">
							Add bot
						</v-btn>
					</div>
				</v-col>
				<v-col class="text-center">
					<v-btn type="button"
								 :disabled="isDisabledStartButton"
								 @click.prevent="start"
								 color="primary">
						Start game
					</v-btn>
				</v-col>
			</v-row>
		</section>
	</v-row>
</template>

<script>
  import { mapActions, mapGetters } from  'vuex';
  import Canvas from './Canvas';

  export default {
    name: "Room",

    components: {Canvas},

    data: () => ({
      dataTableHeaders: [
        {text: 'Name', align: 'left', sortable: false, value: 'name'},
        {text: 'Health', sortable: false, value: 'health'},
        {text: '', sortable: false, value: 'action'},
      ],
    }),

    computed: {
      ...mapGetters(['activeComponent', 'socket', 'config', 'room', 'player', 'readyPlayersCount']),

      isVisible () {
        return this.activeComponent === 'Room';
      },

      isDisabledStartButton () {
        let playersCount = this.room.players ? Object.keys(this.room.players).length : 0;

        return this.readyPlayersCount < this.config.minCountPlayersInRoom || this.readyPlayersCount !== playersCount || this.room.state !== 'idle';
      },

      dataTableItems () {
        let data = [];

        for (let key in this.room.players) {
          if (!this.room.players.hasOwnProperty(key)) continue;
          let player = this.room.players[key];

          data.push({
            'name': player.name,
            'role': player.role,
            'health': player.health,
            'action': 'remove',
          });
        }

        return data;
      },
    },

    watch: {
      activeComponent(newValue) {
        if (newValue === 'Room') {
          this.$nextTick(() => this.resetCanvas());
        }
      },

      room() {
        this.isVisible && this.update();
      }
    },

    mounted() {
      this.movement();
    },

    methods: {
      ...mapActions(['updateActiveComponent']),

      resetCanvas() {
        this.$refs['canvas'] && this.$refs['canvas'].reset();
      },

      drawControl(player) {
        if (!this.$refs['canvas']) return;

        let control = player.control;
        let color = this.player.id === player.id ? this.config.control.activeColor : control.color;

        this.$refs['canvas'].drawRect(control.vec.x, control.vec.y, control.width, control.height, color);
      },

      drawBall(ball) {
        this.$refs['canvas'] && this.$refs['canvas'].drawCircle(ball.vec.x, ball.vec.y, ball.r, ball.color);
      },

      update() {
        this.resetCanvas();

        for (let key in this.room.players) {
          if (this.room.players.hasOwnProperty(key)
              && this.room.players[key].state === 'idle') {
            this.room.players[key]['control'] && this.drawControl(this.room.players[key]);
          }
        }

        this.room.ball && this.drawBall(this.room.ball);
      },

      start() {
        this.socket.emit('startGame', this.room.name);
      },

      changePlayerPosition() {
        this.socket.emit('unsetPlayerPosition', this.player.id);
      },

      addBot() {
        this.socket.emit('enter', {
          'player_name': 'bot-' + new Date().getTime(),
          'player_role': 'bot',
          'room_name': this.room.name,
        });
      },

      removeBot(id) {
        this.socket.emit('removePlayer', id);
      },

      movement() {
        if (!this.$refs['canvas']) return;

        let canvas = this.$refs['canvas'].canvas;

        canvas.addEventListener('mousemove', (e) => {
          if (this.isVisible
              && this.player
              && this.player.control
              && this.room.state !== 'idle') {
            if (this.player.position <= this.config.minCountPlayersInRoom) { //vertical controls
              let y = e.pageY - canvas.offsetTop;
              y -= this.player.control.height/2;

              this.player.control.vec.y = y;
            } else if (this.player.position >= this.config.minCountPlayersInRoom) { //horizontal controls
              let x = e.pageX - canvas.offsetLeft;
              x -= this.player.control.width/2;

              this.player.control.vec.x = x;
            }

            this.socket.emit('updateControl', this.player);
          }
        });
      },
    },
  }
</script>

<style scoped>
	section {
		padding: 5px;
	}
</style>
