<template>
  <v-app id="app">
    <v-content>
      <v-container class="fill-height align-center" fluid>
        <Index ref="index" />
        <Room ref="room" />
        <PlayerPosition ref="player_position" />
      </v-container>
    </v-content>
    <v-snackbar v-model="snackbar">
      {{ message }}
      <v-btn
              color="red"
              text
              @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
  import { mapGetters, mapActions } from  'vuex';
  import Index from  './components/Index';
  import Room from  './components/Room';
  import PlayerPosition from './components/PlayerPosition';

  export default {
    name: 'app',

    components: {Index, Room, PlayerPosition},

    data: () => ({
      snackbar: false,
      message: null,
    }),

    computed: {
      ...mapGetters(['socket'])
    },

    created () {
      this.socket.on('connect', () => {
        this.socket.on('serverCallback', (response) => {
          switch (response.type) {
            case 'message':
              this.message = response.data;
              this.snackbar = true;
              break;

            case 'enter':
              if (response.status === 'success') {
                this.updateActiveComponent('PlayerPosition');
                this.updateConfig(response.data.config);
                this.updatePlayer(response.data.player);
              }
              break;

            case 'ready':
              if (response.status === 'success') {
                this.updateActiveComponent('Room');
                if (response.data.player.role === 'player') this.updatePlayer(response.data.player);
              }
              break;

            case 'update':
              this.updateRoom(response.data);
              break;

						case 'changePlayerPosition':
              if (response.status === 'success') {
                this.updateActiveComponent('PlayerPosition');
							}
						  break;
          }
        });
      });
    },

    methods: {
      ...mapActions(['updateActiveComponent', 'updateConfig', 'updateRoom', 'updatePlayer'])
    },
  }
</script>

<style>
    .app-sidebar {
        width: 320px;
    }
</style>
